@model PagedList.IPagedList<Otokar.Models.Data.Gorev>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Görevler";
}

<br />
@using (Html.BeginForm("Index", "Gorev", FormMethod.Get))
{
    <div>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input id="Submit1" type="submit" value="Görev Adı ile Ara" />
    </div>

}
<br />

<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
        <h4>Görevler</h4>
        <a href="/Gorev/Create" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Görev" style="margin-top:-33px;">Yeni Görev</a>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Görev No
                </th>
                <th>
                    Görev Adı
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GorevAdi)
                    </td>
                    <td>
                        <a href='/Gorev/Edit/@item.ID' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a> |
                        @*<a href='/Gorev/Details/@item.ID' class='btn btn-xs btn-warning tooltips' title='Detaylar'>Detaylar</a> |*@
                        <a href='/Gorev/Delete/@item.ID' class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a> |
                    </td>
                </tr>
            }

        </table>
        <br />
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Sayfadan @Model.PageCount.

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
